@import "./reset.css";


.tabs {
  border: 4px solid #CCC;
  width: 400px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}
.tab {
  border: 1px solid black;
  margin-bottom: 10px;
}
.tab-name {
  background-color: #cfc;
}
.tab-content {
  background-color: #fcc;
  display: none;
}

.tab:hover .tab-content {
  display: block;
}