.hoverable {
  background-color: #F99;
  padding: 20px;
  width: 150px;
  text-align: center;
}
.hoverable:hover {
  background-color: #222;
  color: #ffffff;
}

/* root level links */
.links {
  background-color: #f99;
  border: 1px solid black;
  /* remove bullets */
  list-style-type: none;
  /* remove padding from left */
  padding-left: 0;
}
.link {
  background-color: #9f9;
  /* separate elements */
  margin: 4px;
}
.link:hover {
  padding-left: 5px;
}
.link:hover > .sub-links {
  display: block;
}

/* nested sublinks */
.sub-links {
  background-color: #fcc;
  margin:4px;
  border: 1px solid black;
  display: none;
}
.sub-link {
  background-color: #cfc;
  /* separate elements */
  margin:4px;
}

